<div id="<%= dom_id skill %>">
  <p>
    <strong>Name:</strong>
    <%= skill.name %>
  </p>

  <p>
    <strong>Ability:</strong>
    <%= skill.ability %>
  </p>

  <p>
    <strong>Score:</strong>
    <%= skill.score %>
  </p>

  <p>
    <strong>Proficient:</strong>
    <%= skill.proficient %>
  </p>

</div>
