<tr id="<%= dom_id(char) %>">
  <td><%= char.name %></td>
  <td><%= char.str %></td>
  <td><%= char.dex %></td>
  <td><%= char.con %></td>
  <td><%= char.int %></td>
  <td><%= char.wis %></td>
  <td><%= char.cha %></td>
  <td><%= char.lvl %></td>
  <td><%= char.prof_bonus %></td>
  <td>
    <% if char.skills.present? %>
      <ul>
        <% char.skills.each do |skill| %>
          <li><%= skill.name %></li>
        <% end %>
      </ul>
    <% else %>
      None
    <% end %>
  </td>
  <td>
    <%= link_to 'Show this char', char_path(char), class: 'btn btn-primary' %>
  </td>
</tr>
